In [1]:
from rentradar.db.duckdb import DuckDBManager

### Use as a normal python class

- You can query the database by instantiating the client and inputting queries, but you need to remember to close the connection after.

In [2]:
conn = DuckDBManager('../rentradar/db/rentradar.db')

In [3]:
conn.list_tables()

2024-02-25 00:02:30,404 - rentradar.db.duckdb - INFO - Executed query: SHOW TABLES

                     name
0                counties
1    current_market_stats
2   historic_market_stats
3       long_term_rentals
4              properties
5       property_features
6         property_owners
7          property_taxes
8          property_types
9           sale_listings
10        tax_assessments

In [4]:
conn.get_table_schema('properties')

    cid              name     type  notnull dflt_value     pk
0     0       property_id  VARCHAR    False       None  False
1     1                id  VARCHAR    False       None  False
2     2  formattedAddress  VARCHAR    False       None  False
3     3           zipCode  INTEGER    False       None  False
4     4            county  VARCHAR    False       None  False
5     5       subdivision  VARCHAR    False       None  False
6     6          latitude    FLOAT    False       None  False
7     7         longitude    FLOAT    False       None  False
8     8      propertyType  VARCHAR    False       None  False
9     9     ownerOccupied  INTEGER    False       None  False
10   10         yearBuilt    FLOAT    False       None  False
11   11      lastSaleDate  VARCHAR    False       None  False
12   12     lastSalePrice    FLOAT    False       None  False
13   13            zoning  VARCHAR    False       None  False
14   14        assessorID  VARCHAR    False       None  False
15   15  legalDescription  VARCHAR    False       None  False

In [5]:
conn.close()

2024-02-25 00:03:47,344 - rentradar.db.duckdb - INFO - Database connection closed.

### Use as a context manager

- Alternatively, we can use it as a context manager within a `with` statement so the connection is safely closed as soon as we exit the with
- This is possible due to overriding the `__enter__` and `__exit__` dunder methods.

In [8]:
with DuckDBManager('../rentradar/db/rentradar.db') as conn:
    df = conn.execute_query('select * from properties limit 5')

2024-02-25 00:11:08,576 - rentradar.db.duckdb - INFO - Executed query: select * from properties limit 5
2024-02-25 00:11:08,578 - rentradar.db.duckdb - INFO - Database connection closed.