In [1]:
from rentradar.db.duckdb import DuckDBManager

import pandas as pd
pd.set_option('display.max_rows', None)

### Use as a normal python class

- You can query the database by instantiating the client and inputting queries, but you need to remember to close the connection after.

In [2]:
conn = DuckDBManager('../rentradar/db/rentradar.db')

In [3]:
conn.list_tables()

2024-04-17 12:28:20,020 - rentradar.db.duckdb - INFO - Executed query: SHOW TABLES

                     name
0                counties
1    current_market_stats
2   historic_market_stats
3       long_term_rentals
4              properties
5       property_features
6         property_owners
7          property_taxes
8          property_types
9           sale_listings
10        tax_assessments

In [4]:
conn.get_database_schema()

2024-04-17 12:28:21,788 - rentradar.db.duckdb - INFO - Executed query: SHOW TABLES
2024-04-17 12:28:21,812 - rentradar.db.duckdb - INFO - Retrieved database schema as DataFrame

                                                  name     type
table_name            column_index
counties              0                             id  VARCHAR
                      1                         county  VARCHAR
current_market_stats  0                       bedrooms  INTEGER
                      1                    averageRent  INTEGER
                      2                        minRent  INTEGER
                      3                        maxRent  INTEGER
                      4                  totalListings  INTEGER
                      5                lastUpdatedDate  VARCHAR
                      6                        zipCode  INTEGER
historic_market_stats 0                       bedrooms  INTEGER
                      1                    averageRent    FLOAT
                      2                        minRent  INTEGER
                      3                        maxRent  INTEGER
                      4                  totalListings  INTEGER
                      5                           date  VARCHAR
                      6                        zipCode  INTEGER
long_term_rentals     0                    property_id  VARCHAR
                      1                             id  VARCHAR
                      2                          price  INTEGER
                      3                         status  VARCHAR
                      4                   daysOnMarket    FLOAT
                      5                     listedDate  VARCHAR
                      6                    createdDate  VARCHAR
                      7                   lastSeenDate  VARCHAR
                      8                    removedDate  VARCHAR
properties            0                    property_id  VARCHAR
                      1                             id  VARCHAR
                      2               formattedAddress  VARCHAR
                      3                        zipCode  INTEGER
                      4                         county  VARCHAR
                      5                    subdivision  VARCHAR
                      6                       latitude    FLOAT
                      7                      longitude    FLOAT
                      8                   propertyType  VARCHAR
                      9                  ownerOccupied  INTEGER
                      10                     yearBuilt    FLOAT
                      11                  lastSaleDate  VARCHAR
                      12                 lastSalePrice    FLOAT
                      13                        zoning  VARCHAR
                      14                    assessorID  VARCHAR
                      15              legalDescription  VARCHAR
property_features     0                    property_id  VARCHAR
                      1                       bedrooms    FLOAT
                      2                      bathrooms    FLOAT
                      3                  squareFootage    FLOAT
                      4                        lotSize    FLOAT
                      5                     floorCount    FLOAT
                      6                         garage  INTEGER
                      7                     garageType  VARCHAR
                      8               architectureType  VARCHAR
                      9                   exteriorType  VARCHAR
                      10                       heating  INTEGER
                      11                   heatingType  VARCHAR
                      12                       cooling  INTEGER
                      13                   coolingType  VARCHAR
                      14                     unitCount    FLOAT
                      15                  garageSpaces    FLOAT
                      16                      roofType  VARCHAR
                      17                foundationType  VARCHAR
                      18                     roomCount    FLOAT
                      19                     fireplace  INTEGER
                      20                 fireplaceType  VARCHAR
                      21                          pool  INTEGER
                      22                      poolType  VARCHAR
                      23                      viewType  VARCHAR
property_owners       0                       owner_id  VARCHAR
                      1                    property_id  VARCHAR
                      2                          owner  VARCHAR
property_taxes        0                property_tax_id  VARCHAR
                      1                    property_id  VARCHAR
                      2                           year  VARCHAR
                      3                          total  INTEGER
property_types        0                             id  VARCHAR
                      1                   propertyType  VARCHAR
                      2                    description  VARCHAR
sale_listings         0                    property_id  VARCHAR
                      1                             id  VARCHAR
                      2                         status  VARCHAR
                      3                          price  INTEGER
                      4                     listedDate  VARCHAR
                      5                    removedDate  VARCHAR
                      6                    createdDate  VARCHAR
                      7                   lastSeenDate  VARCHAR
                      8                   daysOnMarket  INTEGER
tax_assessments       0                  assessment_id  VARCHAR
                      1                    property_id  VARCHAR
                      2                           year  VARCHAR
                      3                    total_value    FLOAT
                      4                     land_value    FLOAT
                      5             improvements_value    FLOAT

In [5]:
conn.get_table_schema('tax_assessments')

   cid                name     type  notnull dflt_value     pk
0    0       assessment_id  VARCHAR    False       None  False
1    1         property_id  VARCHAR    False       None  False
2    2                year  VARCHAR    False       None  False
3    3         total_value    FLOAT    False       None  False
4    4          land_value    FLOAT    False       None  False
5    5  improvements_value    FLOAT    False       None  False

In [6]:
conn.close()

2024-04-17 12:28:28,298 - rentradar.db.duckdb - INFO - Database connection closed.

### Use as a context manager

- Alternatively, we can use it as a context manager within a `with` statement so the connection is safely closed as soon as we exit the with
- This is possible due to overriding the `__enter__` and `__exit__` dunder methods.

In [7]:
with DuckDBManager('../rentradar/db/rentradar.db') as conn:
    df = conn.execute_query('select * from properties limit 5')

2024-04-17 12:28:30,171 - rentradar.db.duckdb - INFO - Executed query: select * from properties limit 5
2024-04-17 12:28:30,173 - rentradar.db.duckdb - INFO - Database connection closed.